/* app css stylesheet */
div.top-nav {
  background: #18385f;
  color:#fff;
  font-size:120%;
  vertical-align: bottom;
}

.menu-item {
  padding:2em .5em 1em .1em;
}

.menu-item a {
  font-family: 'Oswald', sans-serif; 
  color:#fff;
  text-decoration: none;  
  margin: 0 .5em 0 .5em;
  padding-bottom:.2em;
}
.menu-item a:hover {
  color:#ddd;
  text-decoration: none;  
  border-bottom:3px solid #ddd;
}
.menu-item a span.glyphicon {
  margin-right: .5em;
}
div.login-panel {
  background: #18385f;
  color:#fff;
  padding:1em;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.login-panel input {
  opacity: .7;
}
.login-panel input:hover {
  opacity: .9;
}
.login-panel input:focus {
  opacity: 1;
}
.right-panel{
  background:#ccc;
  height:600px;
  width:100%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
div.partial {
  margin-top:1em;
}

.list-animation.ng-enter {
  -webkit-transition:0.5s linear all;
  transition:.5s linear all;

  background:blue;
}

/* destination animations */
.list-animation.ng-enter.ng-enter-active {
  background:transparent;
}

.bl_form input {
}

.lb_wrap .lb_label.top, .lb_wrap .lb_label.bottom {
  left: 15px !important;
  width:400px;
}

.lb_wrap .lb_label.left {
  left: 0;
}

.lb_label {
  font-weight: bold;
  color: #999;
}

.lb_label.active {
  color: black;
}

.lb-inp {margin-top: 35px}