 textarea:focus, input:focus{
    outline: 0;
}
*:focus {
    outline: 0;
}

/* app css stylesheet */
div.top-nav {
  background: #18385f;
  color:#fff;
  font-size:120%;
  vertical-align: bottom;
}

.menu-item {
  padding:2em .5em 1em .1em;
}

.menu-item a {
  font-family: 'Oswald', sans-serif; 
  color:#fff;
  text-decoration: none;  
  margin: 0 .5em 0 .5em;
  padding-bottom:.2em;
}
.menu-item a:hover {
  color:#ddd;
  text-decoration: none;  
  border-bottom:3px solid #ddd;
}
.menu-item a span.glyphicon {
  margin-right: .5em;
}
div.login-panel {
  background: #18385f;
  color:#fff;
  padding:1em;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.login-panel input {
  opacity: .7;
}
.login-panel input:hover {
  opacity: .9;
}
.login-panel input:focus {
  opacity: 1;
}
.right-panel{
  background:#ccc;
  height:600px;
  width:100%;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
div.partial {
  margin-top:1em;
}

.list-animation.ng-enter {
  -webkit-transition:0.5s linear all;
  transition:.5s linear all;

  background:blue;
}

/* destination animations */
.list-animation.ng-enter.ng-enter-active {
  background:transparent;
}

/* Flowup */

#formBody {
  font-weight: 300;
  font-size: 1.15em;
}

.rf_notice {
  font-size:.8em;
  text-align: center;
}

.FlowupLabels .fl_label {
  cursor: text;
}

.rf_submit {
  background:none;
  border-radius: 4px;
  border: 1px dotted #3dd585;
  color: #3dd585;
  font-size: 18px;
  padding: 5px 25px;
  display: block;
  margin: auto;
}
.rf_submit:hover {
  cursor:pointer;
  background:#3dd585;
  color: #555;
}
.rf_submit:focus {
  outline:none;
  border: 1px solid #3dd585;
}

#miscInfo {
  position:fixed;
  bottom:10px;
  left:15px;
  font-size: 12px;
  color: #999;
}
#miscInfo a {
  color:#999;
}
#ghBanner {
  position: absolute; 
  top: 0; 
  right: 0; 
  border: 0;
}