body {
  padding-top: 80px;
}
textarea:focus, input:focus{
    outline: 0;
}
*:focus {
    outline: 0;
}

.well.poa-form {
  border-radius: 2px;  
}

/* app css stylesheet */
div.top-nav {
  background: #18385f;
  color:#fff;
  font-size:120%;
  vertical-align: bottom;
}

.menu-item {
  padding:2em .5em 1em .1em;
}

.menu-item a {
  font-family: 'Oswald', sans-serif; 
  color:#fff;
  text-decoration: none;  
  margin: 0 .5em 0 .5em;
  padding-bottom:.2em;
}
.menu-item a:hover {
  color:#ddd;
  text-decoration: none;  
  border-bottom:3px solid #ddd;
}
.menu-item a span.glyphicon {
  margin-right: .5em;
}
div.login-panel {
  background: #18385f;
  color:#fff;
  padding:1em;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* message */
.globalMsg {
    -webkit-transition:all linear 2s;
  transition:all linear 0.5s;
}
.globalMsg.ng-hide {
  opacity:0;
}

.msg-anim.ng-hide-add,
.msg-anim.ng-hide-remove {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;

  /* remember to add this */
  display:block!important;
  opacity:1;
}
.msg-anim.ng-hide {
  opacity:0;
}

.reveal-animation.ng-enter {
 -webkit-transition: .2s linear all; /* Safari/Chrome */
 transition: .2s linear all; /* All other modern browsers and IE10+ */

 /* The animation preparation code */
 opacity: 0;
}
.reveal-animation.ng-enter.ng-enter-active {
 /* The animation code itself */
 opacity: 1;
}