<div class="row">
	<div class="col-sm-12">
		<div class="well poa-form">
		    <fieldset>
			    <legend>Om applikationen</legend>
				<p>Applikationen tillhandahåller enkel funktionalitet för att skapa, uppdatera och visa anmälningar om stöld. Funktionaliteten är reducerad till att endast visa en del viktiga kocept.</p>
			</fieldset>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="well poa-form">
		    <fieldset>
			    <legend>Namedropping av tekniska beståndsdelar</legend>
				<ul>
					<li>Java & JavaScript</li>
					<li><a href="http://vertx.io/">vert.x</a></li>
					<li><a href="https://angularjs.org/">AngularJS</a></li>
					<li>SockJS</li>
					<li>Twitter Bootstrap (tema flatly)</li>
					<li><a href="http://www.mongodb.org/">mongodb</a></li>
					<li>git & <a href="https://github.com/jconsid/react-web">GitHub</a></li>
					<li>maven (för java byggprocess)</li>
					<li>grunt (för javascript byggprocess)</li>
					<li>karma och jasmine (för enhetstester)</li>
					<li>JSHint (för javascript kodstandard)</li>
				</ul>
			</fieldset>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="well poa-form">
		    <fieldset>
			    <legend>Instruktioner för att köra</legend>
			    <p>Checka ut från GitHub och kör igång med följande kommando</p>
				<code>vert.x run app.js</code>
				<p>Kör javascript-test och linting enligt fölande</p>
				<code>npm install</code><br>
				<code>grunt watch</code>Kör js-tester kontinuerligt<br>
				<code>grunt jshint</code>Gör lint<br>
				<code>grunt build</code>Paketera (minifiera och konkatenera js-filer)
				</code>
			</fieldset>
		</div>
	</div>
</div>