<div class="row">
	<div class="col-sm-12">
		<div class="well poa-form">
		    <fieldset>
			    <legend>Anmälan: {{ticket.titel}}</legend>
				<div class="row">
					<div class="col-md-3">
						Status:
					</div>
					<div class="col-md-9">
						<span class="label label-default">{{ticket.anmalningsstatus}}</span>
					</div>
				</div>			
			</fieldset>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="well poa-form">
			<fieldset>
			    <legend>Anmälare</legend>
				<div class="row">
					<div class="col-md-3">
						Namn:
					</div>
					<div class="col-md-9">
						{{ticket.anmalare.firstname}} {{ticket.anmalare.lastname}} ({{ticket.anmalare.email}})
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						E-post:
					</div>
					<div class="col-md-9">
						{{ticket.anmalare.email}}
					</div>
				</div>		
			</fieldset>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="well poa-form">
			<fieldset>
			    <legend>Målsägare</legend>
				<div class="row">
					<div class="col-md-3">
						Namn:
					</div>
					<div class="col-md-9">
						{{ticket.malsagare.organisation.namn}}
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						Adress:
					</div>
					<div class="col-md-9">
						{{ticket.malsagare.organisation.adress}}
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						Postnummer:
					</div>
					<div class="col-md-9">
						{{ticket.malsagare.organisation.postnr}}
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						Organisationsnummer:
					</div>
					<div class="col-md-9">
	    				{{anmalan.malsagare.organisation.orgnr}}
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						E-post:
					</div>
					<div class="col-md-9">
	    				{{anmalan.malsagare.organisation.epost}}
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						Försäkringsbolag:
					</div>
					<div class="col-md-9">
	    				{{anmalan.malsagare.organisation.forsakringsbolag}}
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						Försäkringsnummer:
					</div>
					<div class="col-md-9">
	    				{{anmalan.malsagare.organisation.forsakringsnummer}}
					</div>
				</div>
			</fieldset>
		</div>
	</div>
</div>


<div class="row">
	<div class="col-sm-12">
		<div class="well poa-form">
		    <fieldset>
			    <legend>Information om händelse</legend>
				<div class="row">
					<div class="col-md-3">
						Förlopp:
					</div>
					<div class="col-md-9">
						{{ticket.forlopp}}
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						Tidpunkt för händelse:
					</div>
					<div class="col-md-9">
						{{ticket.tidOchPlats.tid}}
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						Tidpunkt då platsen lämnades:
					</div>
					<div class="col-md-9">
						{{ticket.tidOchPlats.tidSenastLamnad}}
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						Adress:
					</div>
					<div class="col-md-9">
						{{ticket.tidOchPlats.adress}}
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						Postnummer:
					</div>
					<div class="col-md-9">
						{{ticket.tidOchPlats.postnr}}
					</div>
				</div>
			</fieldset>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12">
		<div class="well poa-form">
		    <fieldset ng-repeat="so in ticket.stulnaObjekt">
			    <legend><span style="font-weight:bold" ng-show="ticket.stulnaObjekt.length > 1">{{$index + 1}}:</span> Stulet objekt</legend>
				<div class="row">
					<div class="col-md-3">
						Namn:
					</div>
					<div class="col-md-9">
						{{so.namn}}
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						Beskrivning:
					</div>
					<div class="col-md-9">
						{{so.beskrivning}}
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						Typ:
					</div>
					<div class="col-md-9">
						{{so.typ}}
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						Stöldmärkning:
					</div>
					<div class="col-md-9">
						{{so.stoldmarkning}}
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						Maskin-ID:
					</div>
					<div class="col-md-9">
						{{so.maskinId}}
					</div>
				</div>
			</fieldset>
		</div>
	</div>
</div>

<ul class="nav nav-pills" style="margin-bottom:.7em">
  <li ng-class="{true: 'active', false: ''}[showLoggmeddelanden]"><a ng-click="displayLoggmeddelanden()" href="javscript:void()">Loggmeddelanden<span class="badge" ng-show="logMessages.length">{{logMessages.length}}</span></a></li>
  <li ng-class="{true: 'active', false: ''}[showHandelser]"><a ng-click="displayHandelser()" href="javscript:void()">Händelser <span class="badge">{{ticket.handelser.length}}</span></a></li>
  <li class="disabled"><a href="javscript:void()">Uppladdade filer</a></li>
</ul>

<div class="panel panel-default" ng-show="showHandelser">
	<div class="panel-heading">Händelser för anmälan</div>

	<table class="table table-striped table-hover ">
	  <thead>
	    <tr>
	      <th>Typ</th>
	      <th>Av</th>
	      <th>Tid</th>
	    </tr>
	  </thead>
	  <tbody>
	    <tr ng-repeat="h in ticket.handelser">
	      <td>
			<span ng-show="h.typ == 'skapad'">Anmälan skapad</span>
			<span ng-show="h.typ == 'logg'">Loggmeddelande skapat</span>
	      </td>
	      <td>{{h.person.firstname}} {{h.person.lastname}}</td>
	      <td>{{h.tid | date:'yyyy-MM-dd HH:mm:ss'}}</td>
	    </tr>
	</table>
</div>

<div ng-show="showLoggmeddelanden">

	<div class="list-group">
		<div ng-repeat="log in logMessages"
			class="list-group-item list-animation">
			<h4>{{log.rubrik}}</h4>
			<p>{{log.meddelande}} <span style="color:#999">av {{log.person.firstname}} {{log.person.lastname}}</span></p>
		</div>

		<div class="list-group-item list-animation" ng-hide="isLoggedIn">
			Logga in för att lägga till meddelanden
		</div>
		<div class="list-group-item list-animation" ng-hide="showFieldsForNew">
			<a href="javascript:void()" ng-show="isLoggedIn"
			ng-click="startNew()">
		Lägg till nytt logg-meddelade</a>

		</div>
		<div class="list-group-item list-animation" ng-show="showFieldsForNew">
			<form role="form">
				<div class="form-group">
					<label for="newSubject" class="sr-only">Rubrik</label>
					<input ng-model="subject" type="text" class="form-control"
						id="newSubject" placeholder="Rubrik" />
				</div>
				<div class="form-group">
					<label for="newBody" class="sr-only">Meddelandetext</label>
					<textarea ng-model="body" class="form-control"
						id="newBody" placeholder="Skriv ditt meddelande här..."></textarea>
				</div>
				<button type="button" class="btn btn-primary" ng-click="saveNew(subject, body, loggedInUser)">
					<span class="glyphicon glyphicon-save"></span> Spara
				</button>

				<button type="button" class="btn btn-default" ng-click="abortNew()">
					<span class="glyphicon glyphicon-remove"></span> Avbryt
				</button>
			</form>

		</div>
	</div>

</div>

            <button ng-show="isLoggedIn" type="button" class="btn btn-default"
                    ng-click="skickaTillPolisen(loggedInUser)">
                <span class="glyphicon glyphicon-envelope"></span> Skicka till Polisen
            </button>

            <button ng-show="isLoggedIn" type="button" class="btn btn-primary"
					ng-click="gotoEdit()">
				Editera
			</button>

		</div>
	</div>
</div>
<br><br>
