<div class="row">
	<div class="col-sm-8">

		<div class="partial">
				<div class="row">
					<div class="col-md-3">
						<h4>Anmälan:</h4>
					</div>
					<div class="col-md-9">
						<h4>{{ticket.titel}}</h4>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						Status:
					</div>
					<div class="col-md-9">
						<span class="label label-default">{{ticket.anmalningsstatus}}</span>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						Anmälare:
					</div>
					<div class="col-md-9">
						{{ticket.anmalare.firstname}} {{ticket.anmalare.lastname}} ({{ticket.anmalare.email}})
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default" style="margin-top:.6em">
  							<div class="panel-body">
  								<b>Målsägare</b>
  								<div class="row">
									<div class="col-md-3">
										Namn:
									</div>
									<div class="col-md-9">
										{{ticket.malsagare.organisation.namn}}
									</div>
								</div>
								<div class="row">
									<div class="col-md-3">
										Adress:
									</div>
									<div class="col-md-9">
										{{ticket.malsagare.organisation.adress}}
									</div>
								</div>
								<div class="row">
									<div class="col-md-3">
										Postnummer:
									</div>
									<div class="col-md-9">
										{{ticket.malsagare.organisation.postnummer}}
									</div>
								</div>
								<div class="row">
									<div class="col-md-3">
										Organisationsnummer:
									</div>
									<div class="col-md-9">
										{{ticket.malsagare.organisation.orgnr}}
									</div>
								</div>
								<div class="row">
									<div class="col-md-3">
										E-post:
									</div>
									<div class="col-md-9">
										{{ticket.malsagare.organisation.epost}}
									</div>
								</div>
								<div class="row">
									<div class="col-md-3">
										Försäkringsbolag:
									</div>
									<div class="col-md-9">
										{{ticket.malsagare.organisation.forsakringsbolag}}
									</div>
								</div>


  							</div>
  						</div>
					</div>
				</div>

				<div class="row" ng-repeat="so in ticket.stulnaObjekt">
					<div class="col-md-12">
						<div class="panel panel-default" style="margin-top:.6em">
  							<div class="panel-body">
  								<b>Stulet objekt</b>
  								<div class="row">
									<div class="col-md-3">
										Namn:
									</div>
									<div class="col-md-9">
										{{so.namn}}
									</div>
								</div>
								<div class="row">
									<div class="col-md-3">
										Beskrivning:
									</div>
									<div class="col-md-9">
										{{so.beskrivning}}
									</div>
								</div>
								<div class="row">
									<div class="col-md-3">
										Typ:
									</div>
									<div class="col-md-9">
										{{so.typ}}
									</div>
								</div>
								<div class="row">
									<div class="col-md-3">
										Stöldmärkning:
									</div>
									<div class="col-md-9">
										{{so.stoldmarkning}}
									</div>
								</div>
								<div class="row">
									<div class="col-md-3">
										Maskin-id:
									</div>
									<div class="col-md-9">
										{{so.maskinId}}
									</div>
								</div>
  							</div>
  						</div>
					</div>
				</div>

				<div class="row">
					<div class="col-md-3">
						Förlopp:
					</div>
					<div class="col-md-9">
						{{ticket.forlopp}}
					</div>
				</div>




				<div class="row">
					<div class="col-md-3">
						Stulet objekt:
					</div>
					<div class="col-md-9">
						{{ticket.stulnaObjekt.namn}}
					</div>
				</div>
			

			<div ng-show="logMessages.length" class="list-group">
				<div class="list-group-item active" style="background:#f2f2f2">
					Logg-meddelade
				</div>
				<div ng-repeat="log in logMessages"
					class="list-group-item list-animation">
					<h4>{{log.meddelande}}</h4>
				</div>
				
			</div>

			<div ng-hide="isLoggedIn" class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">Ej inloggad</h3>
				</div>
				<div class="panel-body">
					Du behöver logga in för att lägga till logg-meddelanden.
				</div>
			</div>
			<button ng-show="isLoggedIn" type="button" class="btn btn-primary"
					ng-click="startNew()"
					ng-hide="showFieldsForNew">
				<span class="glyphicon glyphicon-plus-sign"></span> Skapa logg-meddelade
			</button>

			<div class="panel panel-primary my-special-animation" ng-show="showFieldsForNew">
				<div class="panel-heading">
					<h3 class="panel-title">Skapa loggmeddelande (som <em>{{loggedInUser}}</em>)</h3>
				</div>
				<div class="panel-body">
					<form role="form">
						<div class="form-group">
							<label for="newSubject" class="sr-only">Rubrik</label>
							<input ng-model="subject" type="text" class="form-control"
								id="newSubject" placeholder="Rubrik" />
						</div>
						<div class="form-group">
							<label for="newBody" class="sr-only">Meddelandetext</label>
							<textarea ng-model="body" class="form-control"
								id="newBody" placeholder="Skriv ditt meddelande här..."></textarea>
						</div>
					</form>

					<button type="button" class="btn btn-primary" ng-click="saveNew(subject, body, loggedInUser)">
						<span class="glyphicon glyphicon-save"></span> Spara
					</button>

					<button type="button" class="btn btn-default" ng-click="abortNew()">
						<span class="glyphicon glyphicon-remove"></span> Avbryt
					</button>
				</div>
			</div>

            <button ng-show="isLoggedIn" type="button" class="btn btn-primary"
                    ng-click="skickaTillPolisen(loggedInUser)">
                <span class="glyphicon glyphicon-envelope"></span> Skicka till Polisen
            </button>
            <!--button ng-show="isLoggedIn" type="button" class="btn btn-primary"
                    ng-click="startNewFile()"
                    ng-hide="showFieldsForNewFile">
                <span class="glyphicon glyphicon-plus-sign"></span> Ladda upp bilaga
            </button>
            <div class="panel panel-primary my-special-animation" ng-show="showFieldsForNewFile">
                <div class="panel-heading">
                    <h3 class="panel-title">Ladda upp bilaga (som <em>{{loggedInUser}}</em>)</h3>
                </div>
                <div class="panel-body">
                    <form role="form">
                        <div class="form-group">
                            <input ng-model="uploadfile" onchange="angular.element(this).scope().setNewFile(this)" type="file" class="form-control" />
                        </div>
                        !-- http://jsfiddle.net/vishalvasani/4hqVu/ --
                        !--div id="dropbox" class="dropbox" ng-class="dropClass"><span>Drop files here...</span></div--
                    </form>

                    <button type="button" class="btn btn-primary" ng-click="saveNewFile(uploadfile, loggedInUser)">
                        <span class="glyphicon glyphicon-save"></span> Ladda upp
                    </button>

                    <button type="button" class="btn btn-default" ng-click="abortNewFile()">
                        <span class="glyphicon glyphicon-remove"></span> Avbryt
                    </button>
                </div>
            </div-->

			<br /><br />
		</div>
	</div>
</div>
