<div class="row">
	<div class="col-sm-8">


<div class="partial">
	<div class="jumbotron">
		<h1><span class="glyphicon glyphicon-list"></span> Anmälningar</h1>
		<p>Alla anmälningar visas här</p>

		<input style="width: 40%" class="form-control" id="appendedInputButton" type="text" id="queryField" ng-model="query" placeholder="Sök" ng-blur="logSearch()">
		<span ng-show="query.length">Din sökning gav {{(tickets|filter:query).length}} resultat</span>
	</div>
		

	<div class="list-group">
		<a href="#/anmalan/{{ticket._id}}"
			ng-repeat="ticket in tickets | filter:query | orderBy:'_id' "
			class="list-group-item">

			<dl class="dl-horizontal">
			  <dt><h4 class="list-group-item-heading">Anmälan:</h4></dt>
			  <dd><h4 class="list-group-item-heading">{{ticket.titel}}</h4><span class="label label-default pull-right">{{ticket.anmalningsstatus}}</span></dd>

			  <dt>Anmälare:</dt>
			  <dd>{{ticket.anmalare.firstname}} {{ticket.anmalare.lastname}}</dd>

			  <dt>Målsägare:</dt>
			  <dd>{{ticket.malsagare.organisation.namn}}</dd>

			  <dt>Stulet objekt:</dt>
			  <dd>{{ticket.stulnaObjekt.namn}} &nbsp;</dd>

			  <dt>Beskrivning av händelse:</dt>
			  <dd>{{ticket.forlopp}} &nbsp;</dd>

			  <dt>id:</dt>
			  <dd style="color:#aaa">{{ticket._id}}</dd>			  
			</dl>

		</a>
	</div>
</div>

	</div>
	<div class="col-sm-4">
		<div class="list-group">

	  		<a ng-repeat="ev in systemEvents | limitTo:5 | orderBy:'_id' "
	  			href="#/ticket/{{ev.id}}" class="list-group-item">
	    		<h5 class="list-group-item-heading">Anmälan uppdaterad av {{ev.username}}</h5>
	    		<p class="list-group-item-text">Titel: {{ev.subject}}</p>
	  		</a>

		</div>
	</div>
</div>