<div class="well poa-form">
	<form class="form-horizontal">
	  <fieldset>
	    <legend>Logga in</legend>
	    <div class="form-group">
	      <label for="inputEmail" class="col-lg-2 control-label">Användarnamn</label>
	      <div class="col-lg-10">
	      	<input type="text" ng-model="username" class="form-control" id="uname" />
	      </div>
	    </div>
	    <div class="form-group">
	      <label for="inputPassword" class="col-lg-2 control-label">Lösenord</label>
	      <div class="col-lg-10">
	      	<input type="password" ng-model="password" class="form-control" id="passwd" />
	      </div>
	    </div>
	    
	    <div class="form-group">
	      <div class="col-lg-10 col-lg-offset-2">
	        <button type="submit" class="btn btn-primary" ng-click="login()">Ok</button>
		    <button type="button" class="btn btn-default" ng-click="logout()">Logga ut</button>
	      </div>
	    </div>
	  </fieldset>
	</form>
</div>