<div class="row">
	<div class="col-sm-6">

		<div class="partial">
			<div class="well">


	<form role="form" class="FlowupLabels">


		<div class='fl_wrap'>
			<label class='fl_label' for='rf_name'>Name:</label>
			<input class='fl_input' type='text' id='rf_name' />
		</div>

		<div class='fl_wrap'>
			<label class='fl_label' for='rf_email'>Email:</label>
			<input class='fl_input' type='email' id='rf_email' />
		</div>
		
		<div class='fl_wrap'>
			<label class='fl_label' for='rf_company'>Company:</label>
			<input class='fl_input' type='text' id='rf_company' />
		</div>

		<div class='fl_wrap'>
			<label class='fl_label' for='rf_phone'>Phone:</label>
			<input class='fl_input' type='tel' id='rf_phone' />
		</div>

	</form>
	<ANY ng-init="setup()">
			</div>
		</div>
	</div>
</div>
