<form role="form">
  <div class="well poa-form">
	    <fieldset>
		    <legend ng-show="isRegisterNew">Skapa anmälan</legend>
		    <legend ng-hide="isRegisterNew">Editera anmälan</legend>
			<div class="form-group">
		    	<label for="titl">Övergripande titel för anmälan</label><br>
		    	<input type="text" autofocus="autofocus" class="form-control" id="titl" ng-model="anmalan.titel">
			</div>
		</fieldset>
	</div>

	<div class="well poa-form">
	    <fieldset>
		    <legend>Anmälare</legend>
		    <div class="form-group">
				<label>Namn</label><br>
				{{anmalan.anmalare.firstname}} {{anmalan.anmalare.lastname}}
			</div>
			<div class="form-group">
				<label>E-post</label><br>
				{{anmalan.anmalare.email}}
			</div>
	  	</fieldset>
	  </div>

  <div class="well poa-form">
    <fieldset>
	    <legend>Målsägare</legend>
		<div class="form-group">
	    	<label>Namn</label><br>
	    	{{anmalan.malsagare.organisation.namn}}
		</div>
		<div class="form-group">
	    	<label>Adress</label><br>
	    	{{anmalan.malsagare.organisation.adress}}
		</div>
		<div class="form-group">
	    	<label>Postnummer</label><br>
	    	{{anmalan.malsagare.organisation.postnr}}
	    </div>
		<div class="form-group">
	    	<label>Organisationsnummer</label><br>
	    	{{anmalan.malsagare.organisation.orgnr}}
		</div>
		<div class="form-group">
	    	<label>E-post</label><br>
	    	{{anmalan.malsagare.organisation.epost}}
	  	</div>
	  	<div class="row">
	    	<div class="col-md-8">
			  	<div class="form-group">
			    	<label for="forsb">Försäkringsbolag</label><br>
			    	<input type="text" class="form-control" id="forsb" ng-model="anmalan.malsagare.forsakringsbolag">
			  	</div>
			  	<div class="form-group">
			    	<label for="fornr">Forsäkringsnummer</label><br>
			    	<input type="text" class="form-control" id="fornr" ng-model="anmalan.malsagare.forsakringsnummer">
			  	</div>
	  		</div>
	  	</div>
  	</fieldset>
  </div>

  <div class="well poa-form">
    <fieldset>
	    <legend>Information om händelse</legend>
		<div class="form-group">
	    	<label for="forl">Förlopp</label>
	    	<textarea ng-model="anmalan.forlopp" class="form-control"
								id="forl"></textarea>
	  	</div>
		<div class="row">
	      <div class="col-md-8">
		  	<div class="form-group">
		    	<label for="tid">Tidpunkt för händelse</label>
		    	<input type="text" class="form-control" id="tid" ng-model="anmalan.tidOchPlats.tid">
		  	</div>

		  	<div class="form-group">
		    	<label for="tsl">Tidpunkt då platsen lämnades (datum och klockslag)</label>
		    	<input type="text" class="form-control" id="tsl" ng-model="anmalan.tidOchPlats.tidSenastLamnad">
		  	</div>
		  </div>
		</div>

	  	<div class="form-group">
	    	<label for="tadr">Adress</label>
	    	<textarea ng-model="anmalan.tidOchPlats.adress" class="form-control"
								id="tadr"></textarea>
	  	</div>

		<div class="row">
	      <div class="col-md-2 col-xs-6">
		  	<div class="form-group">
		    	<label for="tpnr">Postnummer</label>
		    	<input type="text" class="form-control" id="tpnr" ng-model="anmalan.tidOchPlats.postnr">
		  	</div>
		  </div>
		</div>

		<div class="form-group">
	    	<label for="ovr">Övrigt</label>
	    	<textarea ng-model="anmalan.ovrigt" class="form-control"
								id="ovr"></textarea>
	  	</div>
  	</fieldset>
  </div>

  <div class="well poa-form">
    <fieldset>
    	<div ng-repeat="so in anmalan.stulnaObjekt">
		    <legend><span style="font-weight:bold" ng-show="anmalan.stulnaObjekt.length > 1">{{$index + 1}}:</span> Stulet objekt</legend>
			<div class="form-group">
		    	<label for="snamn{{$index}}">Namn</label>
		    	<input type="text" class="form-control" id="snamn{{$index}}" ng-model="so.namn">
		  	</div>
		  	<div class="form-group">
		    	<label for="sbe{{$index}}">Beskrivning (kännetecken och ev. skador)</label>
		    	<textarea class="form-control" id="sbe{{$index}}" ng-model="so.beskrivning" />
		  	</div>
		  	<div class="form-group">
		    	<label for="styp{{$index}}">Typ</label>
		    	<input type="text" class="form-control" id="styp{{$index}}" ng-model="so.typ">
		  	</div>
		  	<div class="form-group">
		    	<label>Stöldmärkning</label><br/>
		    	<label><input type="radio" ng-model="so.stoldmarkning" value="Ja"> Ja </label><br/>
				<label><input type="radio" ng-model="so.stoldmarkning" value="Nej"> Nej </label>
		  	</div>
		  	<div class="form-group">
		    	<label for="smask{{$index}}">Maskin-ID</label>
		    	<input type="text" class="form-control" id="smask{{$index}}" ng-model="so.maskinId">
		  	</div>
	  	</div>
	  	<div class="form-group">
	    	<button class="btn btn-default" type="button" ng-click="setupNewStuletObjekt()">Registrera ett stulet objekt till</button>
	  	</div>
  	</fieldset>
  </div>

  <button type="button" class="btn btn-primary" ng-click="saveAnmalan(anmalan)">
  <span class="glyphicon glyphicon-save"></span> Spara
  </button>
  <div class='fl_wrap'>
    <p>Fält markerade med * är obligatoriska</p>
  </div>

</form>
