<div class="">
	<form role="form" class="bl_form">
		<div class="form-group">
			<label for="reportedBy"  class="sr-only">Ditt namn</label>
			<input ng-model="ticket.reporter" type="text" data-position="top" class="label_better form-control lb-inp" id="reportedBy" placeholder="Ditt namn">
		</div>
		<div class="form-group">
			<label for="subj" class="sr-only">Kort beskrivning</label>
			<input ng-model="ticket.subject" type="text" data-position="top" class="label_better form-control lb-inp" id="subj" placeholder="Titel på anmälan">
  		</div>
  		<div class="form-group">
			<label for="gadget" class="sr-only">Försvunnen sak</label>
			<input ng-model="ticket.gadget" type="text" data-position="top" class="label_better form-control lb-inp" id="gadget" placeholder="Benämning på försvunnen pryl">
  		</div>
  		<div class="form-group">
			<label for="desc" class="sr-only">Beskrivning av händelse</label>
			<textarea ng-model="ticket.description" data-position="top" class="label_better form-control lb-inp" id="desc" placeholder="Beskrivning av händelse"></textarea>
  		</div>
  		<div class="form-group">
			<label for="price" class="sr-only">Värde (SEK)</label>
			<input ng-model="ticket.currentPriceSEK" type="text" data-position="top" class="label_better form-control lb-inp" id="price" placeholder="Värde i SEK">
  		</div>
	</form>
	<ANY ng-init="setup()">
</div>
